# Ignore virtual environment
venv/

# Ignore Python compiled files
*.pyc

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
/media
/static
*.pyo

# Ignore all Django migration files
**/migrations/*

# Ignore IDE settings
.vscode/
.idea/

# Ignore log files
*.log

# Ignore environment variable files
*.env